.categories .section-title h2 {
  width: 312px;
  margin: 0 auto;
}

.categories-cards {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 24px;
  margin-top: 64px;
}

.icons-card {
  background-color: var(--background-secondary-color);
  width: 312px;
  height: 220px;
  text-align: center;
  border-radius: 5px;
  align-content: center;
  padding: 24px;
  box-sizing: border-box;
}

.icons-card p {
  font-weight: var(--titles-weight);
  font-size: 28px;
}

@media screen and (min-width: 768px) {
  .categories .section-title h2 {
    width: 100%;
  }
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1024px) {
  .icons-card {
    width: 430px;
  }
}

@media screen and (min-width: 1440px) {
  .icons-card {
    width: 280px;
  }
}
