.hero .hero-img,
.bottom-hero .hero-img {
  height: 400px;
  width: 100%;
}

.hero .hero-img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
}

.bottom-hero .hero-img {
  background: url(../img/img-footer.png) no-repeat;
  background-size: cover;
}

.hero h2 {
  margin: 88px auto;
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero .hero-img {
    height: 620px;
    width: 100%;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/img-footer-tablet.png) no-repeat;
  }

  .hero h2 {
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    height: 620px;
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
  }

  .bottom-hero .hero-img {
    background: url(../img/img-footer-desktop.png) no-repeat;
    background-size: cover;
    height: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .hero .hero-img {
    background: url(../img/hero-desktop-v3.jpg);
    background-size: cover;
  }

  .hero h2 {
    margin: 104px auto;
  }
}

@media screen and (min-width: 1920px) {
  .bottom-hero {
    background: url(../img/img-footer-desktop.png) no-repeat;
  }
}
