.background-hero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../img/bg-hero-mobile.jpg) no-repeat;
  background-size: cover;
  background-position: 65% center;
  width: 100%;
  height: 460px;
  margin-bottom: 88px;
}

.hero-packages {
  text-align: left;
  padding: 65px 24px;
  margin: 0;
}

.hero-packages .hero-content {
  height: 330px;
}

.hero-packages hr {
  margin: 16px 0px 32px;
}

.hero-packages .hero-content h1 {
  font-weight: var(--titles-weight);
  font-size: 48px;
  line-height: 60px;
  height: 118px;
  color: var(--text-secondary-color);
}

.hero-packages .hero-content p {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
  color: var(--text-secondary-color);
}

@media screen and (min-width: 768px) {
  .background-hero {
    height: 520px;
  }

  .hero-packages .hero-content h1 {
    height: 60px;
  }

  .hero-packages .hero-content p {
    width: 580px;
    height: 192px;
  }
}

@media screen and (min-width: 1440px) {
  .background-hero {
    height: 620px;
  }

  .hero-packages {
    margin: 0;
    padding-left: 120px;
  }

  .hero-packages .hero-content {
    align-content: center;
  }

  .hero-packages .hero-content p {
    line-height: 150%;
    font-size: 32px;
  }
}
