.payments-packages .content-payments {
  gap: 50px;
}

.payments-packages .content-payments h3 {
  font-weight: var(--titles-weight);
  font-size: 40px;
  margin: 0px 0px 24px 0px;
}

.payments-packages .content-payments h4 {
  font-weight: var(--titles-weight);
  font-size: 28px;
  margin: 0px 0px 24px 0px;
}

.payments-packages .content-payments p {
  font-weight: var(--text-weight);
  font-size: 20px;
  line-height: 32px;
}

.payments-packages .content-payments a {
  width: 100%;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 254px 182px;
  gap: 24px;
  margin-top: 24px;
}

.payments-packages .container-grid .image.japao1 {
  background: url(../img/img-japao-mobile-pagamentos-1.png) no-repeat;
  background-size: cover;
}

.payments-packages .container-grid .image.japao2 {
  background: url(../img/img-japao-mobile-pagamentos-2.png) no-repeat;
  background-size: cover;
}

.payments-packages .container-grid .image.japao3 {
  background: url(../img/img-japao-mobile-pagamentos-3.png) no-repeat;
  background-size: cover;
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .payments-packages .content-payments a {
    display: none;
  }

  .payments-packages .container-grid .image.japao1 {
    background: url(../img/img-japao-tablet-desk-pagamentos-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }

  .payments-packages .container-grid .image.japao2 {
    background: url(../img/img-japao-tablet-desk-pagamentos-2.png) no-repeat;
    background-size: cover;
  }

  .payments-packages .container-grid .image.japao3 {
    background: url(../img/img-japao-tablet-desk-pagamentos-3.png) no-repeat;
    background-size: cover;
    grid-column: span 2;
  }
}

@media screen and (min-width: 1440px) {
  .content-container {
    display: flex;
    gap: 23px;
  }

  .payments-packages .content-payments {
    width: 384px;
    align-content: center;
  }

  .payments-packages .content-payments p {
    width: 361px;
  }

  .payments-packages .container-grid {
    width: 790px;
    margin-top: 0;
  }
}
